* {
  padding: 0px;
  margin: 0px; 
}

main {
  width : 80%;
}

main > section > p { 
  color: yellow;
}

section {
  background-color: blue;
  color: white;
  font-weight: bold;
}

#reactId {
  background-color: blueviolet;
}

